
html {
  height: 100%;
}
.test {
  display: flex;
}
:fullscreen {
  color: #ccc;
}
.example {
  display: flex;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
