

@mixin dropdown-menu-top-tail {
  &::before, &::after {
    position: absolute;
    display: inline-block;
    content: "";
  }
  &::before {
    top: -16px;
    right: 11px;
    left: auto;
    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15);
  }
  &::after {
    top: -14px;
    right: 12px;
    left: auto;
    border: 7px solid transparent;
    border-bottom-color: #fff;
  }
}

